Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-6-jre | sun-java6-jre
Maintainer: Jens Lehmann <lehmann@informatik.uni-leipzig.de>
Description: This is a package that contains the cli component of the dl-learner.
Distribution: development