<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src/dl-learner"/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry kind="lib" path="lib/dig1.1-xmlbeans.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/antlr-runtime-3.0.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/commons-lang-2.2.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-api.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-apibinding.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-change.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-debugging.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-dig1_1.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-functionalparser.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-functionalrenderer.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-impl.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-krssparser.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-mansyntaxparser.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-mansyntaxrenderer.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-metrics.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-oboparser.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-owlxmlparser.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-owlxmlrenderer.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-rdfapi.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-rdfxmlparser.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-rdfxmlrenderer.jar"/>
	<classpathentry kind="lib" path="lib/owlapi/owlapi-util.jar"/>
	<classpathentry kind="lib" path="lib/jena/antlr-2.7.5.jar"/>
	<classpathentry kind="lib" path="lib/jena/concurrent.jar"/>
	<classpathentry kind="lib" path="lib/jena/icu4j_3_4.jar"/>
	<classpathentry kind="lib" path="lib/jena/iri.jar"/>
	<classpathentry kind="lib" path="lib/jena/jena.jar"/>
	<classpathentry kind="lib" path="lib/jena/xercesImpl.jar"/>
	<classpathentry kind="lib" path="lib/xbean.jar"/>
	<classpathentry kind="lib" path="lib/fact/FaCT++OWLAPI-v1.1.10+.jar"/>
	<classpathentry kind="lib" path="lib/pellet/aterm-java-1.6.jar"/>
	<classpathentry kind="lib" path="lib/pellet/pellet.jar"/>
	<classpathentry kind="lib" path="lib/pellet/relaxngDatatype.jar"/>
	<classpathentry kind="lib" path="lib/pellet/xsdlib.jar"/>
	<classpathentry kind="lib" path="lib/jena/arq.jar"/>
	<classpathentry kind="lib" path="lib/jena/commons-logging-1.1.jar"/>
	<classpathentry kind="lib" path="lib/junit-4.4.jar"/>
	<classpathentry kind="lib" path="lib/log4j.jar"/>
	<classpathentry kind="lib" path="lib/jena/json.jar"/>
	<classpathentry kind="output" path="classes"/>
</classpath>
