[database]
; the server, where the mysql database is located
server = localhost
; the user, that has rights to access the navigator database
user = user
; the password of that user
pass = pass
; the name of the used database
db = ms2phdb
; the name of the main (and only) table in this database
table = fiche_mutant