/* moosique.net 
 *
 * Semiblack:   #131313
 * Light Grey:  #545454
 * White:       #f8faf7
 * Yellowish:   #ffbc00
 * 
 */

@media screen {
  
/* Default Element Styling --- Start Editing below this line */
/* =================================================================== */
* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #131313;
}

body {
  background: #f8faf7;
}

a:hover {
  color: #ffbc00;
}

/* Abstand Zeilenhoehe nach unten bei manchen Elementen */
p, h1, h2, h3, h4, h5, h6, table, ul, ol, blockquote, pre, form {
  margin-bottom: 16px;
}

/* Default Container Positioning */
/* =================================================================== */
#container, #header, #mainContainer, #content {
  position: relative;
}

#headerContainer {
  height: 95px;
  background: #333;
  border-bottom: 5px solid #ffbc00;
  padding: 20px 0 0 0;
}

#header {
  width: 760px;
  margin: 0 auto;
}

#container {
  border-top: 1px solid #ccc;
}

#mainContainer {
  width: 700px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-top: none;
}

#footer {
  padding: 20px;
  text-align: center;
}

/* header Area */
/* =================================================================== */
#header h1 a {
  font-size: 32px;
  line-height: 32px;
  font-family: Georgia, Times, "Times New Roman",  serif;
  text-decoration: none;
  color: #f8faf7;
}

#status, #header .currentlyPlaying {
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  background: #545454;  
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#status {
  background: #545454;
  color: #f8faf7;
  z-index: 1000000;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.currentlyPlaying h2, .currentlyPlaying h3, .currentlyPlaying h4 {
  margin-bottom: 0;
}

#header .currentlyPlaying h2 {
  font-size: 10px;
}

#header .currentlyPlaying h4 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

#searchForm input#searchValue {
  margin: 0 5px;
  width: 100px;
}

#loadingImg {
  display: none;
}

/* mainMenu & status */
/* =================================================================== */

#mainMenu ul {
  position: absolute;
  top: 70px;
  right: 0;  
}

#mainMenu ul li {
  float: left;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  padding: 0 15px;
  background: #545454;
  margin: 5px 0 0 5px;
  height: 20px;
  line-height: 20px;
}

#mainMenu ul li a {
  color: #131313;
}

#mainMenu ul li.active {
  height: 25px;
  line-height: 25px;
  margin-top: 0;
  background: #ffbc00;
}

#mainMenu ul li.active a {
  font-weight: bold;
}

#mainMenu ul li a:hover {
  text-decoration: none;
}


/* Content Area Default Styles */
/* =================================================================== */
#content h2, #content h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

/* for debugging */
#content pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}

/* Initial hiding */
#recommendations, #player, #information, #help { 
  display: none; /* Initial Hide */
}

#footer * {
  font-size: 10px;
}


/* home -- search results */
/* =================================================================== */
#results h3 em {
  font-size: 16px;
}

#results ul li h3 a {
  font-weight: normal;
}

#results ul li img {
  border: 2px solid #545454;
  margin-bottom: 16px;
}

#results ul li {
  display: block;
  border: 1px dotted #545454;
  padding: 16px;
  margin: 0 16px 16px 0;
  float: left;
  width: 300px;
}

#results .artistSearch ul li {
  height: 450px; 
}

#results ul ul {
  list-style: square;
}

#results ul li ul li,
#results .artistSearch ul li ul li,
#results .tagSearch ul li ul li {
  border: none;
  display: list-item;
  padding: 0;
  margin: 0 0 0 32px;
  width: auto;
  height: auto;
  float: none;
}

#results .tagSearch ul li ul {
  clear: both;
}
  


#results .artistSearch ul li div.artistImage {
  text-align: center;
}

#results .tagSearch ul li div.cover {
  margin-right: 16px; 
  width: 110px;
  float: left;
}

#results .tagSearch ul li h4 {
  display: inline;
  font-weight: bold;
}





/* Recommendations */
/* =================================================================== */
#recommended {
  list-style: decimal;
  margin-left: 24px;
}

#recommended li {
  line-height: 24px;
}

#recommended a:hover {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #131313;
}



/* information */
/* =================================================================== */




/* player */
/* =================================================================== */

#playerControls {
  position: absolute;
  width: 149px;
  height: 37px;
  top: 0;
  right: 0;
  padding: 10px 20px;
  background: #545454;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#prev, #next, #stop, #playPause, #mute {
  display: block;
  width: 20px;
  height: 37px;
  text-decoration: none;
  text-indent: -1000000px;
  float: left;
  margin-right: 10px;
}

/* clicky feel */
#prev:active, #next:active, #stop:active, 
#playPause:active, #mute:active {
  position: relative;
  top: 2px;
}

/* Sprites */
#prev { background: url(../img/controls.png) 0px -160px no-repeat; }
#next { background: url(../img/controls.png) 0px -120px no-repeat; }
#stop { background: url(../img/controls.png) 0px -80px no-repeat; }

#playPause { 
  background: url(../img/controls.png) 0px 0px no-repeat; 
  width: 26px;
}

#mute { 
  background: url(../img/controls.png) 0px -280px no-repeat; 
  margin-right: 0;  
  width: 23px;
}
/* End Sprites */

#playlist li {
  position: relative; /* Delete Buttons */
  list-style: decimal;
  list-style-position: inside;
  cursor: move;
  padding: 3px;
}

#playlist li a.ymp-btn-page-pause {
  font-weight: bold;
}

/* Delete buttons */
#playlist li a.del {
  position: absolute;
  display: block;
  top: 5px;
  right: 20px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-right: -19px;
  z-index: 1000;
  text-indent: -99999999px;
  background: url(../img/controls.png) 0px -200px no-repeat;
}

/* Draggable li-Items */
#playlist li.moving {
  background: #666;
  border: 3px solid #ffbc00;
  font-weight: bold;
} 






} /* end @media screen */