<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: DL-Learner
    Description: 
Checkstyle configuration that checks the sun coding conventions.
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <module name="JavadocMethod">
            <property name="scope" value="package"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="JavadocType"/>
        <module name="JavadocVariable">
            <property name="scope" value="package"/>
        </module>
        <module name="JavadocStyle"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport">
            <property name="severity" value="ignore"/>
        </module>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="FileLength"/>
        <module name="LineLength">
            <property name="severity" value="ignore"/>
            <property name="max" value="105"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="RedundantThrows">
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="severity" value="ignore"/>
        </module>
        <module name="TodoComment">
            <property name="severity" value="ignore"/>
        </module>
        <module name="UpperEll"/>
        <module name="Header">
            <property name="header" value="/**&#13;&#10; * Copyright (C) 2007-2009, Jens Lehmann&#13;&#10; *&#13;&#10; * This file is part of DL-Learner.&#13;&#10; * &#13;&#10; * DL-Learner is free software; you can redistribute it and/or modify&#13;&#10; * it under the terms of the GNU General Public License as published by&#13;&#10; * the Free Software Foundation; either version 3 of the License, or&#13;&#10; * (at your option) any later version.&#13;&#10; *&#13;&#10; * DL-Learner is distributed in the hope that it will be useful,&#13;&#10; * but WITHOUT ANY WARRANTY; without even the implied warranty of&#13;&#10; * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the&#13;&#10; * GNU General Public License for more details.&#13;&#10; *&#13;&#10; * You should have received a copy of the GNU General Public License&#13;&#10; * along with this program.  If not, see &lt;http://www.gnu.org/licenses/&gt;.&#13;&#10; *&#13;&#10; */"/>
            <property name="ignoreLines" value="20"/>
        </module>
    </module>
    <module name="JavadocPackage"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="Translation"/>
</module>
