/* default minimal basic css reset by Steffen Becker, based on YUI and eric meyers css-reset */
/* ========================================================================================= */
@media all {
html, body, div, h1, h2, h3,
h4, h5, h6, ul, ol, dl, li, 
dt, dd, p, img, blockquote, 
pre, form, fieldset, table, 
th, td                        { margin: 0; padding: 0; font: inherit; color: inherit; 
                                text-decoration: none; border: none; outline: none; }
ol, ul                        { list-style: none; }
table                         { border-collapse: collapse; border-spacing: 0; }
caption, th, td               { text-align: left; font-weight: normal; }
label, input[type=button], 
input[type=submit], button    { cursor: pointer; }
:focus                        { outline: 0; }
input, textarea, 
select, option                { font: inherit; color: inherit; }
a                             { color: inherit; font: inherit; text-decoration: none; }
a:hover                       { text-decoration: underline; }
.hidden                       { position: absolute; left: -9999px; top: -9999px; }
.clearfix:after               { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; 
                                visibility: hidden; width: 0; height: 0; }
.clearfix                     { display: inline-block; }
} /* end @media all */