<?xml version="1.0" ?>
  <plugin>
  
   <!-- View -->
  
  	<extension id="org.dllearner.tools.protege.ProtegePlugin"
              point="org.protege.editor.owl.ui_editor_description">
       <label value="DL-Learner"/>
       <class value="org.dllearner.tools.protege.ProtegePlugin"/>
       <index value="E"/>
    </extension>

	<!--extension id="ExampleViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<label value="Example view component" />
		<class value="edu.stanford.bmir.protege.examples.view.ExampleViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.ontologycategory" />
	</extension-->
	
	<!-- Preferences -->
	
	 <extension id="org.dllearner.tools.protege.prefs"
	               point="org.protege.editor.core.application.preferencespanel">
	        <label value="DL-Learner"/>
	        <class value="org.dllearner.tools.protege.DLLearnerPreferencesPanel"/>
	 </extension>

  </plugin>