[general]
wsdluri = http://localhost:8181/services?wsdl

; URI pointing to DBpedia SPARQL endpoint
dbpediauri = http://dbpedia.openlinksw.com:8890/sparql

; which predefined endpoint settings to use in DL-Learner
endpoint = DBPEDIA

[database]
; the type of database server
type = mysql
; the server, where the mysql database is located
server = localhost
; the user, that has rights to access the navigator database
user = navigator
; the password of that user
pass = dbpedia
; the name of the used database
name = navigator_db_new
; the name of the datasetDir for the CalculatePageRank Script
datasetDir = /mnt/sdb1/local_virtuoso_dbpedia_data_new/