#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

install:
	mkdir /usr/share/dllearner/
	mkdir /usr/share/dllearner/log
	chmod -R 777 /usr/share/dllearner/log
	cp -r tmp/${PACKAGE_NAME}-${VERSION}/lib /usr/share/dllearner
	cp ../dllearner-cli /usr/bin/dllearner-cli
	chmod +x /usr/bin/dllearner-cli

%:
	dh $@